DATABASE_URL="postgresql://postgres:SUASENHA@db.xxxxxxxx.supabase.co:5432/postgres"
JWT_SECRET="uma-string-longa-e-aleatoria-qualquer-aqui-1234"
PASSWORD_HASH="$2a$10$HASH_GERADO_PELO_SCRIPT_ABAIXO"
FRONTEND_URL="http://localhost:5173"
PORT=3000